* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input, input:before, input:after, textarea {
    -webkit-user-select: initial;
    -khtml-user-select: initial;
    -moz-user-select: initial;
    -ms-user-select: initial;
    user-select: initial;
 } 

html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}


h1, h2, h3, h4, h5, h6 {
  font-weight: $normal;
  // letter-spacing: 0.3vw;
}



ul {
  list-style: none;
  padding: 0;
  margin: 0;
}


a {
  text-decoration: none;
  color: inherit;
  display: block;

  &:active, &:hover, &:link {
    text-decoration: none;
  }

  &:hover {
    color: $accent;
  }
}

.fill {
  height: 100%;
}

.active {
  // display: inline !important;
}

.danger {
  color: $accent;
}

.large {
  font-size: 4em;
}

.padding {
  padding: 25px;
}

.right {
  // float: right
  text-align: right;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  line-height: 20px;
  margin: 15px;
  color: inherit;
}

.white {
  color: $white;
}

.text-center {
  text-align: center;
}

.fill {
  height: 100%;
}

.hidden {
  opacity: 0;
}

.down-arrow {
  font-size: 3em;
  opacity: 0;
  position: absolute;
  bottom: 100px;
  left: 50%;
  display: inline-block;
  
  margin-left: -25px;

  padding: 15px;
  color: $light-grey;

  &:hover {

  }
}

@media (min-width: 768px) {
  .down-arrow {
    bottom: 50px;
    font-size: 3em;
    left: 80%;
  }
}