$white: #FEFEFE;

$off-white: darken($white, 8);

$font-grey: #666;

$grey: #555;
$light-grey: lighten($grey, 50);
$dark-grey: darken($grey, 20);
$accent: #c0392b;

$black: #111;

@mixin transition($time) {
	transition: all $time ease-in-out;
}