nav .brand-logo {
  padding-left: 15px;
}

.card {
  float: left;
  color: #666;
}

.card-clickable {
  cursor: pointer;
}

.chip {
  border-radius: 0;
}

.chip img {
  border-radius: 0;
}

.chip span {
  margin-left: 5px;
  margin-right: 5px;
}

.card .chip {
  margin-bottom: 20px;
}
/*
.card label {
  margin-left: 10px;
  color: #666;
}*/

.card .divider {
  margin-left: -20px;
  margin-right: -20px;
  margin-bottom: 20px;
}

.card-image {
  max-height: 400px;
  overflow: hidden;
}

.article-header {
  max-height: 300px;
  overflow: hidden;
  position: relative;
}

.overlay {
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.25);
  position: absolute;
  top: 0;
  left: 0;
}

.article-title {
  position: absolute;
  bottom: 0;
  margin: 20px;
  margin-left: 0;
  color: white;
  font-size: 24px;
  font-weight: 300;
}

.article-bar {
  margin-top: 20px;
  margin-bottom: 20px;
}

.chip {
  height: 50px;
  width: auto;
  line-height: 50px;
  font-weight: 400;
  font-size: 1.2em;
  margin-right: 15px;
}

.chip img {
  height: 50px;
  width: 50px;
}

label {
  font-size: 1.1em;
}

.title {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
}
