body {
  padding: 75px 0px;
  color: #666;
  font-family: 'Raleway';
  font-size: 1.05em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  margin: 10px 0px;
}
a {
  transition: all 0.1s ease-in-out;
  color: #d98262;
}
a:hover {
  text-decoration: none;
  color: #cf6139;
}
pre {
  font-size: 0.8em;
}
code {
  background: transparent;
  color: #66a2cc;
}
.anonymous {
  font-family: 'Anonymous Pro', 'courier', 'monospace';
  font-weight: 400;
}
.raleway {
  font-family: 'Raleway', 'sans-serif';
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .container {
    width: 750px;
  }
  pre {
    font-size: 1em;
  }
}
#index ul {
  list-style: none;
  padding: 0;
}
#index ul li p {
  padding-left: 15px;
}
